= provide(:title, "パスワードリセット")
.login-card
  %p
    Forgot Password
    = form_for(@user, url: password_reset_path(params[:id]), :html => {:class => 'form-signin'}) do |f|
      = render 'shared/error_messages', object: f.object
      = hidden_field_tag :email, @user.email
      = f.password_field :password, {class: 'form-control', placeholder: 'パスワード'}
      = f.password_field :password_confirmation, {class: 'form-control', placeholder: 'パスワード'}
      = f.submit 'パスワード更新', {class: 'btn btn-primary btn-block btn-lg btn-signin'}