= form_for @user, :html => {:class => 'form-signin'} do |f|
      = render 'shared/error_messages'
      = f.text_field :name, {class: 'form-control', placeholder: 'ユーザー名'}
      = f.password_field :email, {class: 'form-control', placeholder: 'メールアドレス'}
      = f.password_field :password, {class: 'form-control', placeholder: 'パスワード'}
      = f.password_field :password_confirmation, {class: 'form-control', placeholder: 'パスワード(確認)'}
      = f.submit yield(:button_text), {class: 'btn btn-primary btn-block btn-lg btn-signin'}