= form_for @user, :html => {:id => 'session_form', :class => 'form-signin'} do |f|
  = render 'shared/error_messages', object: f.object
  - if logged_in?
    - if @user.avatar?
      %div{ style: "background-image: url(#{@user.avatar.thumb.url})", class: 'thumb-cercle' }
    -else
      = render 'shared/no_image'
    .mt-1.mb-3
      = link_to 'アバター画像を編集', "/users/#{@user.id}/edit_avatar"
  = f.text_field :name, {class: 'form-control validate[required,maxSize[12]]', placeholder: 'ユーザー名', value: 'newユーザー' }
  = f.text_field :email, {class: 'form-control validate[required,maxSize[256]] custom[email]', placeholder: 'メールアドレス', value: 'new@example.com'}
  = f.password_field :password, {id: 'password', class: 'form-control validate[required,maxSize[8]]', placeholder: 'パスワード' , value: 'password'}
  = f.password_field :password_confirmation, {class: 'form-control validate[required,minSize[8],maxSize[8]] equals[password]', placeholder: 'パスワード(確認)' ,value: 'password'}
  = f.submit yield(:button_text), {class: 'btn btn-primary btn-block btn-lg btn-signin'}