= provide(:title, @user.name)
= provide(:user, @user.name)
%div
  = image_tag @user.avatar.thumb.url, class: 'rounded-circle' if @user.avatar?
%div
  %p
    = @user.name
-if @user.posts.any?
  %section.module
    .container
      .row.multi-columns-row
        = render @posts
        = paginate @posts
  
       