= provide(:title, @user.name)
= provide(:user, @user.name)
- if @user.avatar?
  %div{ style: "background-image: url(#{@user.avatar.thumb.url})", class: 'thumb-cercle' }
%p
  = @user.name 
%section.stats
  = render 'shared/follow_stats'
- if @user.posts.any?
  %section.module
    .container
      .row.multi-columns-row
        = render @posts
        = paginate @posts
  
       