= form_for(@post) do |f|
  - if @post.images[0].id?
    - @post.images.each do |i|
      = image_tag i.image.thumb.url if i.image?
  = render 'shared/error_messages', object: f.object
  = link_to '画像編集', "/posts/#{@post.id}/edit_images", class: 'nav-link'
  %div.field
    = f.text_area :title, placeholder: "Compose new post..."
  %div.field
    = f.text_area :content, placeholder: "Compose new post..."
  = f.submit "Post", class: "btn btn-primary"