= form_for(@post,url: {action: "update_images" }) do |f|
  = render 'shared/error_messages', object: f.object
  - if @post.images[0].id?
    - @post.images.each do |i|
      = image_tag i.image.thumb.url if i.image?
  %div.field
    = f.file_field :image, multiple: true, type: 'file', name: "images[image][]"
  = f.submit "Post", class: "btn btn-primary"