= form_for(@post) do |f|
  = render 'shared/error_messages', object: f.object
  = render 'images_form', { f: f }
  = render 'text_form', { f: f, title_id: 'title', content_id: 'content' }
  = f.button yield(:button_text), class: "btn btn-primary", id: 'submit_btn'