- if !post.images.blank?
  .col-sm-6.col-md-4.col-lg-4
    .gallery-item
      .gallery-image
        %a.gallery{href: "/posts/#{post.id}"}
          = image_tag post.images[0].image.thumb.url, class: 'thumbnail'
    .team-item.mb-4
      .team-descr.font-alt
        .team-name
          %a{href: "/posts/#{post.id}"}
            = post.title
        .team-role
          - if current_page?("/users/#{post.user.id}")
            = link_to "編集", "/posts/#{post.id}/edit"
          - else
            %a{href: "/users/#{post.user.id}"}
              = post.user.name