%li{id: "post-#{post.id}"}
%div.title
  %a{href: "/posts/#{post.id}"}
    = post.title
%div.content
  = post.content
%div
  - if !post.images.blank?
    - post.images.each do |i|
      = image_tag i.image.thumb.url if i.image?
%div.user
  = link_to post.user.name, post.user
%div.timestamp
  Posted#{time_ago_in_words(post.created_at)}ago.
  - if current_user?(post.user)
    %div
      = link_to "削除", post, method: :delete,
        data: { confirm: "削除します。よろしいですか?" }