.row
  .col-sm-8.col-sm-offset-1
    .post
      .post-header.font-alt
        %h1.post-title
          = @post.title
      .post-entry.mb-3
        = @post.content
      = create_tag_link(@post)
  .col-sm-12.col-sm-offset-1
  .col-sm-8.col-sm-offset-1
    .post
      .post-thumbnail
        - if !@post.images.blank?
          - @post.images.each do |i|
            = image_tag i.image.url, class: 'mb-4'
  .col-sm-4.col-md-3.col-md-offset-1.sidebar
    .widget
      - if @post.user.avatar?
        %div{ style: "background-image: url(#{@post.user.avatar.thumb.url})", class: 'thumb-cercle' }
      -else
        = render 'shared/no_image'
      %a.user-name{href: "/users/#{@post.user.id}"}
        = @post.user.name
      -if current_user&.name == @post.user.name
        %a.btn.btn-success.btn-circle.btn-block.mt-3{href: "/posts/#{@post.id}/edit"}
          編集する
      - else
        = render 'shared/follow_form'