%nav.navbar.navbar-dark.navbar-expand-md.bg-primary.text-nowrap
  .container
    %a.navbar-brand{href: '/', style: 'font-family: ABeeZee, sans-serif'}
      %strong
        Portfolio
    %button.navbar-toggler{'data-toggle' => 'collapse', 'data-target' => '#navcol-1'}
      %span.sr-only
        Toggle navigation
      %span.navbar-toggler-icon
    %div.collapse.navbar-collapse#navcol-1
      %ul.nav.navbar-nav.ml-auto
        - if logged_in?
          %li.nav-item{role: 'presentation'}
            %a.nav-link{href: "/posts/new"}
              投稿
          %li.dropdown
            %a#navbar-user-toggle.dropdown-toggle{'href' => '#', 'data-toggle' => 'dropdown', 'class' => 'nav-link'}
              = current_user.name
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to 'マイページ', current_user
              %li
                = link_to 'プロフィール編集', edit_user_path(current_user)
              %li.divider
              %li
                = link_to 'ログアウト', logout_path, method: :delete    
        - else
          %li.nav-item{role: 'presentation'}
            %a.nav-link{href: '/users/new'}
              サインイン
          %li
            = link_to 'ログイン', login_path, class: 'nav-link'
        %li.search-box.mt-2
          = search_form_for @q, url: posts_path do |f|
            = f.text_field :title, placeholder: '検索', value: @words
            = button_tag class: 'search-btn' do
              %i.fa.fa-search
  
            
